extends ../../layouts/base.jade
block head
  title DC/OS Releases
block content
  .container.container--dark-background
    +header
    .container__content
      h1 DC/OS Releases
      p
        | Find and download any release of DC/OS, which is 100% open source. For DC/OS Enterprise releases, contact #[a(href="https://mesosphere.com/pricing/") Mesosphere sales].
  .outer-container.bg-gray.clearfix.pt4.pb3.px2
    .row
      .max-width-4.mx-auto.clearfix
        .cards.col-12

          .release-card.release-stable.col.col-12.md-col-6.md-pr1.relative
            div.bg-white.center.inner.px3.pt3.pb3.mb2.md-mb0
              h3.mb0 Latest Stable
              p.release-version.pb1 DC/OS 1.10.5
              p.hero-list__item__copy__paragraph.release-copy Latest stable release. Tested and ready for use in production.
              a.cta.cta--text.release-notes.pb0(href='https://docs.mesosphere.com/1.10/release-notes/1.10.5/') Release Notes

              div.release-buttons.pb3
                a.cta.cta--button.inline-block(href='https://downloads.dcos.io/dcos/stable/aws.html', target='_blank') Amazon
                a.cta.cta--button.inline-block(href='https://downloads.dcos.io/dcos/stable/azure.html', target='_blank') Azure
                a.cta.cta--button.inline-block(href='https://downloads.dcos.io/dcos/stable/dcos_generate_config.sh') Download

          .release-card.release-rc.col.col-12.md-col-6.relative.mb2.md-pl1
            .bg-white.center.inner.px3.py1
              h3.mb0 Early Access
              p.release-version.pb0 1.11.0-rc1
                 a.block.release-notes.mb2(href='https://docs.mesosphere.com/1.11/release-notes/1.11.0-rc1/') Release Notes

                div.download-buttons.mb2
                  a.mx1(href='https://downloads.dcos.io/dcos/EarlyAccess/aws.html', target='_blank') Amazon
                  a.mx1(href='https://dcosio.azureedge.net/dcos/EarlyAccess/azure.html', target='_blank') Azure
                  a.mx1(href='https://downloads.dcos.io/dcos/EarlyAccess/dcos_generate_config.sh') Download

          .release-card.release-snapshot.col.col-12.md-col-6.relative.md-pl1
            .bg-white.center.inner.px3.py1
              h3.mb0 Master
              p.release-version.pb0 DC/OS 1.11-dev

              div.download-buttons.mb2
                a.mx1(href='https://downloads.dcos.io/dcos/testing/master/aws.html', target='_blank') Amazon
                a.mx1(href='https://downloads.dcos.io/dcos/testing/master/azure.html', target='_blank') Azure
                a.mx1(href='https://downloads.dcos.io/dcos/testing/master/dcos_generate_config.sh') Download


  .releases-container
    each release in locals.releases
      .release
        .release-item.max-width-4.mx-auto.md-flex.py4.px2.md-px0
          .release-item--content.col-12.md-col-8.md-pr3
            h2.mt0.bold #{ release.title }
            strong.block.mb2 #{ release.month } #{ release.day }, #{ release.year }
            if(release.description)
              p.my1.mb3 #{ release.description }
            strong.block.mb1 Features
            if(release.features)
              ul.mb3
                each feature in release.features
                  li #{ feature }

            h3 Get the latest release of #{ release.title }
            if(release.downloadlink)
              div.download-buttons
                if(release.downloadlink.amazon)
                  a.mr2(href='#{ release.downloadlink.amazon }', target='_blank') Amazon
                if(release.downloadlink.azure)
                  a.mr2(href='#{ release.downloadlink.azure }', target='_blank') Azure
                if(release.downloadlink.direct)
                  a.mr2(href='#{ release.downloadlink.direct }') Download
            a(href!=release.subreleases[0].url target='_blank').mb2.small.cta.cta--text.inline-block #{ release.subreleases[0].name } Release Notes

          .release-item--releases.col-12.md-col-4
            h3.strong Releases
            ul
              each subrelease in release.subreleases
                li
                  a(href='#{ subrelease.url }').cta.cta--text #{ subrelease.name }



    .outer-container.clearfix.py5.px2.release
      .row.flex.flex-column
        .sm-col.sm-col-12.md-col-8.mx-auto.center
          h2.heading-margin-bottom.center.mx-auto Older Versions
          p.center DC/OS Community Edition describes versions 1.6 and earlier, which were free and available from Mesosphere, Inc. but not open source. When Mesosphere open sourced DC/OS on April 19th, 2016, they stopped distributing Community Edition, and versions 1.6 and earlier are no longer available.

  .container.container--dark-background
    .container__content
      h2 Install on any virtual or physical machines.
      a(href='/install').cta.cta--button Install
    +footer
